:root {
  --main-blue: #1847B2;
}

.bg-primary {
  background-color: var(--main-blue) !important;
}

.logo {
  width: 3vmin;
  height: auto;
}

.btr {
  border: 2px solid white;
  border-radius: 10rem;
  padding: 10px;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.btr:hover {
  border-radius: 10rem;
  padding: 10px;
  color: var(--main-blue);
  text-decoration: none;
  background-color: #fff;

}

.bgimg{
  background-image: url('https://images.unsplash.com/photo-1513584684374-8bab748fbf90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=50');
    
  background-size: cover;
                 /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;

}
.vh100{
  height: 100vh;
}
textarea {
  resize: none;
}

.btn-submit{
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
  border-radius: 10rem;
  width: 100%;
}
.btn-submit:hover{
  border: 2px solid var(--main-blue);
  color: white;
  background-color: var(--main-blue);
}

.form-control:focus{
  border-color: #92B4F4;
  box-shadow: 0 0 0 0.2rem #92B4F4;
}

.form-control{
  background-color: #efefef;

}
.link{
  text-decoration: 0;
  color:#4176D8;
  font-size: 1.05rem;
  
  
}
.link:hover{
text-decoration: none;
color:var(--main-blue);
transition: 0.3s; 

}